<!DOCTYPE html>
<html>
    <head>
        <title>Rental House Mangement System</title>
        <link rel="stylesheet" href="/admin.css">
    </head>
    <body>
        
        <div class="topnav">
            <h1>Rental House Mangement System</h1>
            <a href = "/admin/dashboard" class="first">Dashboard</a>
           <a href="/admin/addHouse">Add House</a>
           <a href="/admin/house">View House</a>
           <a href="/admin/booking">Bookings</a>
          <a  href = "/">Logout</a>
          
          
        </div>
        {{{body}}}
        
         
      
    </body>
</html>