<!DOCTYPE html>
<html>
    <head>
        <title>Rental House Mangement System</title>
        <link rel="stylesheet" href="/style.css">
        
    </head>
    <body>
      
        
        <div class="topnav">
          <h2>Rental House Mangement System</h2>
          <a href = "/" class="first">Home</a>
          <a href = "/register" >Sign up</a>
          <a href = "/Tenant">Tenant Login</a>
          <a href = "/Landlord">Owner Login</a>
          
                   
        </div>
        
      <div>
        {{{body}}}
      </div>  
        
      
    </body>
</html>

