<!DOCTYPE html>
<html>
    <head>
        <title>Canteen Management System</title>
        <link rel="stylesheet" href="/customer.css">
        
    </head>
    <body>
       
        <div class="topnav">
             <h2>Rental house Management System</h2>
            <a href = "/Tenant/dashboard" class="first">Dashboard</a>
          <a href = "/Tenant/house">View Houses</a>
          <a href = "/Tenant/houseBookings">Booking History</a>
          <a href = "/logout">Logout</a>
        </div>
        {{{body}}}
         
      
    </body>
</html>
