<div class="landing">
     <div class='dark-overlay'>
        <div class='landing-inner'>
    <h1 class='large'>Rental House Mangement System</h1>
          <p >
             Perfect place to find rental House<br><br>
             <a href = "/register" class="button">Sign up</a>
            <a href = "/customer_login"class="button">Sign in</a>
          </p>
</div>
</div>
</div>